{% extends 'base.html'%}
{%load static %}
{% block contents%}
{% load course_tags %}
<br>
<div class="inner-page-banner-area mt-5" style="background-image: url('/static/img/banner1.jpg');">
        <div class="container mt-5">
            <div class="pagination-area mt-5">
                <h1>Course Details </h1>
                <ul>
                    <li><a href="#">Home</a> -</li>
                    <li>Course details</li>
                </ul>
            </div>
        </div>
        </div>
</div>
<!-- Inner Page Banner Area End Here -->
<!-- Courses Page 5 Area Start Here -->
<div class="courses-page-area5">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                <div class="course-details-inner">
                    <h2 class="title-default-left title-bar-high">{{course.title}}</h2>
                    <p>{{course.description}}.</p>
                    <img src="{{course.image.url}}" class="img-responsive" alt="course">
                    <div class="course-details-tab-area">
                        <div class="row">

                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="tab-content">
                                    <div class="tab-pane tab-item animated fadeIn show active" id="menu-1"
                                        role="tabpanel" aria-labelledby="menu-1-tab">


                                        <h3 class="sidebar-title">Learning Outcomes</h3>
                                        <ul class="learning-outcomes">
                                            <li>Over 37 lectures and 55.5 hours of content!</li>
                                            <li>Testing Training Included.</li>
                                            <li>Learn Software Testing and Automation basics from a professional trainer
                                                from your own desk.</li>
                                            <li>Information packed practical training starting from basics to advanced
                                                testing techniques.</li>
                                            <li>Best suitable for beginners to advanced level users and who learn faster
                                                when demonstrated.</li>
                                            <li>Course content designed by considering current software testing
                                                technology and the job market.</li>
                                            <li>Practical assignments at the end of every session.</li>
                                            <li>Practical learning experience with live project work and examples.</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="related-courses-title-area">
                    <h3>Related Courses</h3>
                </div>

            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="sidebar">
                    <div class="sidebar-box">

                        <div class="sidebar-box-inner">
                            <div class="sidebar-course-price">
                                {% isApplied course.id request.user as is_applied %}
                                {%if is_applied and request.user.is_authenticated %}
                                <a href="#" class="enroll-btn">Already Enrolled </a>
                                {%else%}
                                <form action="{% url 'appy_course' %}" method="POST">
                                    {%csrf_token%}
                                     <input hidden type="text" name='course_id' value={{course.id}}>
                                <button type ="submit" class="btn btn-warning">Enroll in tthis course </button>
                                </form>
                                {%endif%}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{%endblock contents%}