{% extends 'base.html' %}
{% load static %}
{% load course_tags %}


{% block contents %}
        <!-- <img style="height:110px; width: 100%;" src="{% static 'img/banner.jpg'%}" alt=""> -->
<br>
        <div class="inner-page-banner-area mt-5" style="background-image: url('/static/img/banner.jpg');">
            <div class="container mt-5">
                <div class="pagination-area mt-5">
                    <h1>Our Courses</h1>
                    <ul>
                        <li><a href="#">Home</a> -</li>
                        <li>Courses</li>
                    </ul>
                </div>
            </div>
        </div>


    <!-- Inner Page Banner Area End Here -->
    <!-- Courses Page 1 Area Start Here -->
    <div class="courses-page-area1">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 order-md-2">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="courses-page-top-area">
                                <div class="courses-page-top-left">
                                    <div class="pagination">
                                        <span class="step-links">
                                            {% if courses.has_previous %}
                                            <a href="?page=1">&laquo; first</a>
                                            <a href="?page={{ courses.previous_page_number }}">previous</a>
                                            {% endif %}

                                            <span class="current">
                                                Page {{ courses.number }} of {{ courses.paginator.num_pages }}.
                                            </span>

                                            {% if courses.has_next %}
                                            <a href="?page={{ courses.next_page_number }}">next</a>
                                            <a href="?page={{ courses.paginator.num_pages }}">last &raquo;</a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                <div class="courses-page-top-right">
                                    <ul class="nav" role="tablist">
                                        <li class="menu-item" role="presentation"><a class="menu-link" id="menu-1-tab"
                                                data-bs-toggle="tab" href="#menu-1" role="tab" aria-controls="menu-1"
                                                aria-selected="false"><i class="fa fa-th-large"></i></a></li>
                                        <li class="menu-item" role="presentation"><a class="menu-link active"
                                                id="menu-2-tab" data-bs-toggle="tab" href="#menu-2" role="tab"
                                                aria-controls="menu-2" aria-selected="true"><i class="fa fa-list"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane tab-item animated fadeIn" id="menu-1" role="tabpanel"
                            aria-labelledby="menu-1-tab">
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="img/course/1.jpg" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="#">Basic Philosopphy</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s free
                                                    demo.</p>
                                                <ul class="courses-info">
                                                    <li>7 Months
                                                        <br><span> Course</span>
                                                    </li>
                                                    <li>30
                                                        <br><span> Classes</span>
                                                    </li>
                                                    <li>10 pm - 11 pm
                                                        <br><span> Classes</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="img/course/2.jpg" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="#">GMAT</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s free
                                                    demo.</p>
                                                <ul class="courses-info">
                                                    <li>3 Months
                                                        <br><span> Course</span>
                                                    </li>
                                                    <li>30
                                                        <br><span> Classes</span>
                                                    </li>
                                                    <li>10 am - 11 am
                                                        <br><span> Classes</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="img/course/3.jpg" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="#">IELTS</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s free
                                                    demo.</p>
                                                <ul class="courses-info">
                                                    <li>1 Year
                                                        <br><span> Course</span>
                                                    </li>
                                                    <li>30
                                                        <br><span> Classes</span>
                                                    </li>
                                                    <li>09 am - 11 am
                                                        <br><span> Classes</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="img/course/9.jpg" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="#">CSE</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s free
                                                    demo.</p>
                                                <ul class="courses-info">
                                                    <li>2 Months
                                                        <br><span> Course</span>
                                                    </li>
                                                    <li>30
                                                        <br><span> Classes</span>
                                                    </li>
                                                    <li>02 pm - 04 pm
                                                        <br><span> Classes</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="img/course/10.jpg" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="#">Diploma</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s free
                                                    demo.</p>
                                                <ul class="courses-info">
                                                    <li>4 Months
                                                        <br><span> Course</span>
                                                    </li>
                                                    <li>30
                                                        <br><span> Classes</span>
                                                    </li>
                                                    <li>08 am - 10 am
                                                        <br><span> Classes</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="img/course/11.jpg" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="#">Mathematics</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s free
                                                    demo.</p>
                                                <ul class="courses-info">
                                                    <li>1 Year
                                                        <br><span> Course</span>
                                                    </li>
                                                    <li>30
                                                        <br><span> Classes</span>
                                                    </li>
                                                    <li>10 am - 12 pm
                                                        <br><span> Classes</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="img/course/12.jpg" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="#">Basic Philosopphy</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s free
                                                    demo.</p>
                                                <ul class="courses-info">
                                                    <li>3 Years
                                                        <br><span> Course</span>
                                                    </li>
                                                    <li>30
                                                        <br><span> Classes</span>
                                                    </li>
                                                    <li>09 am - 11 am
                                                        <br><span> Classes</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="img/course/13.jpg" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="#">GMAT</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s free
                                                    demo.</p>
                                                <ul class="courses-info">
                                                    <li>10 Months
                                                        <br><span> Course</span>
                                                    </li>
                                                    <li>30
                                                        <br><span> Classes</span>
                                                    </li>
                                                    <li>05 pm - 08 pm
                                                        <br><span> Classes</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="img/course/14.jpg" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="#">IELTS</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s free
                                                    demo.</p>
                                                <ul class="courses-info">
                                                    <li>9 Months
                                                        <br><span> Course</span>
                                                    </li>
                                                    <li>30
                                                        <br><span> Classes</span>
                                                    </li>
                                                    <li>11 am - 02 pm
                                                        <br><span> Classes</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Listed product show -->
                        <div class="tab-pane tab-item animated fadeIn show active" id="menu-2" role="tabpanel"
                            aria-labelledby="menu-2-tab">

                            <div class="row">
                                {% for course in courses%}
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="courses-box3">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-right">
                                                <img class="img-responsive" src="{{course.image.url}}" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="#">{{course.title}}</a></h3>
                                                <p class="item-content">{{course.description}}</p>
                                                <ul class="courses-info">
                                                    <!-- <li>1 Year
                                                        <br><span> Course</span>
                                                    </li>
                                                    <li>15
                                                        <br><span> Classes</span>
                                                    </li> -->
                                                    <li>published : {{course.created_on|timesince}}
                                                        <br><span> Time</span>
                                                    </li>
                                                </ul>
                                                <form action="{% url 'appy_course' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input hidden type="text" name='course_id' value={{course.id}}>
                                                    {% isApplied course.id request.user as is_applied %}
                                                    {%if is_applied and request.user.is_authenticated %}

                                                    <a type="button" class="btn btn-warning ">YouApplied for this course <i
                                                            style="background-color: green; border-radius:100%; width: 20px; height: 20px; color:white;"
                                                            class="fa fa-check"></i></a>
                                                    {%else%}
                                                    <button type="submit" class="btn btn-warning courses-fee">Apply</button>
                                                    {%endif%}

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}

                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="pagination">
                                <span class="step-links">
                                    {% if courses.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ courses.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ courses.number }} of {{ courses.paginator.num_pages }}.
                                    </span>

                                    {% if courses.has_next %}
                                    <a href="?page={{ courses.next_page_number }}">next</a>
                                    <a href="?page={{ courses.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 order-md-1">
                    <div class="sidebar">
                        <div class="sidebar-box">
                            <div class="sidebar-box-inner">
                                <h3 class="sidebar-title">Find your Course</h3>
                                <div class="sidebar-find-course">
                                    <form id="checkout-form">
                                        <div class="form-group course-name">
                                            <input id="first-name" placeholder="Course Name" class="form-control"
                                                type="text" />
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-select">
                                                <select id="district" class='select2'>
                                                    <option value="0">Categories</option>
                                                    <option value="1">Categories 1</option>
                                                    <option value="2">Categories 2</option>
                                                    <option value="4">Categories 3</option>
                                                    <option value="5">Categories 4</option>
                                                    <option value="6">Categories 5</option>
                                                    <option value="7">Categories 6</option>
                                                    <option value="8">Categories 7</option>
                                                    <option value="9">Categories 8</option>
                                                    <option value="10">Categories 9</option>
                                                    <option value="11">Categories 10</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group remember-style">
                                            <span><input name="remember" type="checkbox">FREE</span>
                                            <span><input name="remember" type="checkbox">PAID</span>
                                        </div> -->
                                        <div class="form-group">
                                            <button class="sidebar-search-btn disabled" type="submit" value="Login">Search
                                                Course</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="sidebar-box">
                            <div class="sidebar-box-inner">
                                <h3 class="sidebar-title">Class Categories</h3>
                                <ul class="sidebar-categories">
                                    <li><a href="#">GMAT</a></li>
                                    <li><a href="#">IELTS</a></li>
                                    <li><a href="#">Regular MBA</a></li>
                                    <li><a href="#">BBA</a></li>
                                    <li><a href="#">CSE</a></li>
                                    <li><a href="#">Diploma</a></li>
                                    <li><a href="#">UI Design</a></li>
                                    <li><a href="#">Graphic Design</a></li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- <div class="sidebar-box">
                            <div class="sidebar-box-inner">
                                <h3 class="sidebar-title">Search By Price</h3>
                                <div id="price-range-wrapper" class="price-range-wrapper">
                                    <div id="price-range-filter"></div>
                                    <div class="price-range-select">
                                        <div class="price-range" id="price-range-min"></div>
                                        <div class="price-range" id="price-range-max"></div>
                                    </div>
                                    <button class="ghost-full-width-btn disabled" type="submit"
                                        value="Login">Search</button>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="sidebar-box">
                            <div class="sidebar-add-area overlay-primaryColor">
                                <img src="img/banner/7.jpg" class="img-responsive" alt="banner">
                                <a href="#" class="sidebar-ghost-btn">Apply Now!</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

                {% endblock contents %}